@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply min-h-screen select-none bg-zinc-100 text-zinc-900 antialiased p-safe dark:bg-zinc-900 dark:text-zinc-50;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

input {
	@apply mb-3 block w-full rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 shadow-xl focus:bg-white focus:outline-none !important;
}

select {
	@apply block w-full appearance-none rounded border border-gray-200 bg-gray-200 py-3 px-4 pr-8 leading-tight text-gray-700 shadow-xl focus:border-gray-500 focus:bg-white focus:outline-none !important;
}

label {
	@apply mb-2 block text-xs font-bold uppercase tracking-wide text-gray-700;
}

h5 {
	@apply text-xs text-gray-400 !important
}

.blue-button {
	@apply rounded bg-cyan-600 py-3 px-4 text-xs font-bold text-white hover:bg-cyan-800 !important;
}

.green-button {
	@apply rounded bg-lime-400 py-3 px-4 text-xs font-bold text-white hover:bg-lime-800 !important;
}

.grey-button {
	@apply rounded border border-zinc-500 py-3 px-4 text-xs font-bold text-zinc-500 hover:bg-zinc-700 hover:text-white !important;
}

.red-button {
	@apply rounded border border-red-100 py-2 px-3 text-xs text-red-600 hover:bg-red-700 hover:text-white !important;
}

.blue-button-hollow {
	@apply rounded border py-2 px-3 text-xs text-blue-700 hover:bg-blue-700 hover:text-white !important;
}

.text-error {
	@apply text-xs text-red-500;
}
