@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
	height: 100vh !important;
	width: 100vw !important;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden !important;
	z-index: 0 !important;
}

.marker {
	background-image: url('../public/images/taxi-front-view.png') !important;
}

/* [class$='--Input'] {
	@apply mb-3 w-full rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 shadow-xl focus:bg-white focus:outline-none !important
} */

[class$='--ResultsAttribution'] {
	@apply hidden;
}

[class$='--Suggestion'] {
	@apply border-none bg-zinc-100 shadow-none;
	@apply hover:bg-white md:w-full lg:w-full !important;
}

[class$='--Results'] {
	@apply border-0;
	border-radius: 0;
	box-shadow: none !important;
	transition: none;
}

[class$='--SuggestionName'] {
	@apply pb-1 font-medium !important;
}

[class$='--SuggestionDesc'] {
	@apply pb-3 text-xs;
}

#map-canvas{
    position: absolute;
    left: 0;
	top: 0;
	@apply w-full h-full overflow-hidden !important;
}