@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply bg-green-200 text-xs rounded-md shadow-sm py-2 px-4 text-zinc-700 font-semibold;
}

input,
select {
  @apply px-3 py-1 bg-white text-base rounded-md shadow-sm text-green-700 w-full;
}

/* Hiding the Google Maps logo... please remove if this goes public */
.pac-container.pac-logo.hdpi::after {
  @apply hidden !important;
}

.pac-matched {
  @apply text-green-200;
}

.pac-container {
  @apply border-none bg-zinc-700  text-zinc-100 mt-1 shadow-md rounded-b-lg !important;
}

.pac-item {
  @apply border-none py-3 hover:bg-zinc-600;
}

.pac-item-query {
  @apply text-zinc-100;
}


/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 33px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  @apply rounded-md
}

/* Links inside the dropup */
.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */
.dropup-content a:hover {background-color: #ddd}

/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */
.dropup:hover .dropbtn {
  background-color: #2980B9;
}