@tailwind base;
@tailwind components;
@tailwind utilities;

.map-container {
	height: 100vh !important;
	width: 100vw !important;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden !important;
	z-index: 0 !important;
}

[class$='--Input'] {
	@apply mb-3 w-full rounded border border-gray-200 bg-gray-200 py-3 px-4 leading-tight text-gray-700 shadow-xl focus:bg-white focus:outline-none !important
}
